<html>
<head><title>Hello from Ansible!!</title></head>
<body>
<H1>Congratulations!</h1>
<p>Nice job {{ username }}!!  You have successfully ran your first playbook!  Woohooo!  Now get yourself a drink to celebrate!</p>
</body>
</html>
